In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("data2.csv")
dims = data.groupby(["dim"])
sorted_df = pd.DataFrame([group.sort_values(by=["time", "cross"]).iloc[0] for dim, group in dims])

In [3]:
sorted_df

      dim  cross  time
0       2      1     0
1       4      1     0
4       8      2     0
10     16      4     0
19     32      5     0
47     64     17     0
114   128     52     2
193   256     67    13
394   512    140    87
704  1024    194   614